[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/ft2"]
	path = lib/ft2
	url = https://github.com/freetype/freetype
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "resources"]
	path = resources
	url = git@github.com:LostSyndicate/engine_project.git
	branch = res
